@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(/fuentes/MYRIADPRO-REGULAR.woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Myriad Pro light';
    src: url(/fuentes/MyriadPro-Light.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro Italic';
    src: url(/fuentes/MYRIADPRO-BOLDIT.woff);
    font-style: italic;
    font-weight: bold;
    
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url(/fuentes/MYRIADPRO-BOLD.woff);
    font-style: bold;
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}


.page-principal{
    width: 100%;
    background-color: white;
}
.link__item,.img-nav{
    display: inline-block;
}
.navegacion-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid gray;
}
.contenedor-links{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: black;
}
.img-nav{/**/
    width: 1.5em;
}
.logo-empresaK{/**/
    width: 3vw;
}
.log-out{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-user{
    width: 3em;
}

section{
    display: flex;
    justify-content: center;
}
.text{
    margin: 1vw;
    text-align: center;
}

.text p{
    margin: 0.5vw;
}

.container{
    display: flex;
    justify-content: center;
    padding: 80px;
    width: 1520px;
    height: 600px;
    border-radius: 18px;
    background-color: rgb(226, 224, 224);
}

.item{
    display: flex;
    justify-content: center;
    width: 10vw;
}


.container1{
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container3{
    height: 65px;
    background-color: white;
    border: solid 1px rgb(79, 77, 77);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: 2%;

}

.hea{
    border: solid;
    display: flex;
    align-items: center;
    height: 60px;

}

.del{
    display: flex;
    align-items: center;
    height: 60px;

}

button{
    height: 50px;
    width: 100px;
    background-color: #f5813f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #f5823fb6;
}
