@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(/fuentes/MYRIADPRO-REGULAR.woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Myriad Pro light';
    src: url(/fuentes/MyriadPro-Light.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro Italic';
    src: url(/fuentes/MYRIADPRO-BOLDIT.woff);
    font-style: italic;
    font-weight: bold;
    
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url(/fuentes/MYRIADPRO-BOLD.woff);
    font-style: bold;
    font-weight: bold;
}
/*Entrada principal*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Myriad Pro light',sans-serif;
}
/* Navegación */
.page-principal{
    width: 100%;
    background-color: white;
}
.link__item,.img-nav{
    display: inline-block;
}
.navegacion-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid gray;
}
.contenedor-links{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.8em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: black;
}
.img-nav{/**/
    width: 1.5em;
}
.logo-empresaK{/**/
    width: 3vw;
}
.log-out{
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-user{
    width: 3em;
}

section{
    display: flex;
    justify-content: center;
}
.text{
    margin: 1vw;
    text-align: center;
}

.text p{
    margin: 0.5vw;
}



.action{
    margin-top: 60px;
    border: solid;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.move{
    display: flex;
    align-items: center;
    height: 60px;
    border: solid 1px;
}

.move1{
    margin-bottom: 2%;
}

section{
    display: flex;
    justify-content: center;
}
.container1{
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.container3{
    height: 60px;
    border: solid 1px rgb(145, 142, 142);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.item{
    display: flex;
    justify-content: center;
    width: 9vw;
}

button{
    height: 5vh;
    width: 13vw;
    border-radius: 25px;
    border: none;
    background-color: #f37730;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #f37830b0;
}

